body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
}

.top-right a {
    margin-left: 10px;
    text-decoration: none;
    color: #020e1d;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin: 10px auto;
    width: auto;
    position: relative;

}

.search-bar {
    width: 450px;
    height: 33px;
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.down-nav {
    text-align: center;
}

.search-button {
    height: 35px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    cursor: pointer;
    text-align: center;
}

.search-button:hover {
    background-color: #e8e9ea;
}

.blue-button {
    background-color: #1a73e8;
    color: white;
}

.blue-button:hover {
    background-color: #165db6;
}
.image{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: -90px;
}

.h1-advanced {
    font-size: 20px;
    background: none;
    color: #f12e1d;
    margin: 25px 35px;
}

form {
    display: block;
    margin: 25px 35px;
}
.form-group {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 10px;
    align-items: center;
}

label {
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}

input.txt {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.submit {
    text-align: right;
}

input.button {
    color: #253566;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
}